/* Custom Css  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
}


/* Productivity start  */

.productivity_area_section {
    padding-top: 100px;
}

.productivity_area h2 {
    text-align: center;
    width: 700px;
    margin: auto;
}

.productivity_area {
    text-align: center;
}

.productivity_area a img {
    width: 90%;
    margin-top: -150px;
    text-align: center;
}

/* Productivity end  */